<p-table [columns]="stockTableHeaders" [value]="stockTableData" #dt>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Search stock"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let header of columns" [pSortableColumn]="header.field" [pSortableColumnDisabled]="header.field === 'buyFuture' ||
        header.field === 'sellFuture' ||
        header.field === 'viewChart'">
        {{ header.header }}
        <p-sortIcon [field]="header.field" *ngIf="header.field === 'stock_name' ||
        header.field === 'sector_name' ||
        header.field === 'margin' ||
        header.field === 'quantity' ||
        header.field === 'mps'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-data>
    <tr>
      <td>{{ data.stock_name }}</td>
      <td>{{ data.sector_name }}</td>
      <td>{{ data.margin }}</td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.mps }}</td>
      <td><button>Buy</button></td>
      <td><button>Sell</button></td>
      <td><button>Open</button></td>
    </tr>
  </ng-template>
  <!-- the below commented code also works fine but since we have to add 3 buttons we cannot use *ngFor -->
  <!-- <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
    </td>
    </tr>
  </ng-template> -->
</p-table>