.stock-table {
    width: 100%;
    height: 500px;
}

:host ::ng-deep {
    .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
        transform: rotate(-90deg) !important;
        padding: 0;
    }
}

